Reject unsupported HTTP versions with 505 Not Supported

RFC 9110, Section 6.2:

> A server can send a [505 (HTTP Version Not Supported)](https://datatracker.ietf.org/doc/html/rfc9110#status.505) response if it wishes, for any reason, to refuse service of the client's major protocol version.